.header-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header-navbar__balance {
    display: flex;
    align-items: center;
    justify-content: left;
    height: 32px;
    width: 88px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    font-size: 16px;
    border:none;
    color: #F2F2F2;
    padding: 0 0 0 10px;
    cursor: pointer;
}

.header-navbar__title{
    width: 90px;
    margin-right: calc(50% - 90px);
}


.header-navbar__balance:active {
    background: rgba(0, 0, 0, 0.3);
}
.header-navbar__balance span {
    padding: 0;
}
.header-navbar__balance img{
    margin-right: 16px;
}

.banner {
    /*width: 100%;*/
}